/*

app-template.css overrides

remove this comment if used
remove this file if not

*/

.footer.hidden {
	display: none;
}

#toggle-all.hidden {
	display: none;
}
.clear-completed.hidden {
	display: none;
}









